[submodule "spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "detours"]
	path = deps/detours/detours
	url = https://github.com/microsoft/Detours.git
[submodule "dobby"]
	path = deps/dobby
	url = https://github.com/sadan4/Dobby.git
